<!DOCTYPE html>
<html lang="en">
    <%- include('head')%>
<body>
    <nav  class="navbar bg-body">
        <div id="nav-bar" class="container-fluid">
            <a class=" h1 navbar-brand">Welcome Facebook</a>
        <div class="d-flex" role="search">
            </div>
        </div>
    </nav>
</body>
</html>


